.characterCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    border-radius: 5px;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
}

.imageCard {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.characterInfo {
    font-size: 10px;
    padding: 0.75rem;

    color: rgb(255, 255, 255);
}

a {
    color: rgb(255, 255, 255);
}

.status_icon {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(158, 158, 158);
    border-radius: 50%;
}
